{% extends "base.html" %}
{% load static %}
<!-- Add title -->
{% block extra_title %} About Us{% endblock %}

<!-- Extend base template with content -->
{% block content %}
<!-- Page Content -->
<div class="container mt-5 sexy-font">
    <h1>About Subsurface</h1>
</div>
<div class="container mt-5">

    <h2>Your Gateway to the Underground Music Scene</h2>
    <p>
        Welcome to Subsurface, the ultimate destination for underground music events and ticket sales in the UK's major cities. Our focus is on the raw, unfiltered sounds of techno, house, noise, and experimental music. While there are countless event websites out there, none truly cater to the authentic underground scene. Subsurface is here to fill that void, bringing you closer to the music that matters.
    </p>
    <p>
        Whether you're a devoted fan of the underground or a curious newcomer, Subsurface offers an unparalleled selection of events that are often overlooked by mainstream platforms. Join us and immerse yourself in the vibrant, pulsating heart of the UK's underground music culture.
    </p>

</div>
{% endblock %}