{% extends "base.html" %}
{% load static %}
{% block extra_title %} About Us {% endblock %}

{% block content %}
<div class="container mt-5 sexy-font">
    <h1>About Subsurface</h1>
</div>
<div class="container mt-5">
    <h2 class="mb-5">Your Gateway to the Underground Music Scene</h2>
    <div class="row">
        <div class="col-7">
            <p>
                Welcome to Subsurface, the ultimate destination for underground music events and ticket sales in the UK's major
                cities. Our focus is on the raw, unfiltered sounds of techno, house, noise, and experimental music. While there
                are countless event websites out there, none truly cater to the authentic underground scene. Subsurface is here
                to fill that void, bringing you closer to the music that matters.
            </p>
        </div>
    <div class="col-5">
        <p>
            Whether you're a devoted fan of the underground or a curious newcomer, Subsurface offers an unparalleled
            selection of events that are often overlooked by mainstream platforms. Join us and immerse yourself in the
            vibrant, pulsating heart of the UK's underground music culture.
        </p>
    </div>
    <h2>Contact Us</h2>
    <p>
        If you have any questions, concerns, or require a refund, please don't hesitate to contact us. We are here to help and ensure you have the best experience possible with Subsurface.
    </p>
</div>
    
</div>
{% endblock %}