{% extends "base.html" %}
{% load static %}
<!-- Add title -->
{% block extra_title %} Create an event {% endblock %}

<!-- Extend base template with content -->
{% block content %}
<!-- Page Content -->
<div class="container mt-5 sexy-font">
    <h1>Upload Event</h1>
    <p class="text-muted">Fill out the form below to upload a new event.</p>
</div>

<!-- Upload Event Form -->
<div class="container mt-4">
    <form id="upload-event-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- add featured checkbox -->
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="event-featured" name="featured" value="true">
            <label class="form-check-label" for="event-featured">
                Featured Event
            </label>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="event-name" class="form-label">Event Name *</label>
                <input type="text" class="form-control" id="event-name" name="event_name"
                    placeholder="Name of the event." required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="event-date" class="form-label">Date *</label>
                <input type="date" class="form-control" id="event-date" name="date" placeholder="Select a date."
                    required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="event-start-time" class="form-label">Start Time *</label>
                <input type="time" class="form-control" id="event-start-time" name="start_time"
                    placeholder="When the event starts?" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="event-end-time" class="form-label">End Time *</label>
                <input type="time" class="form-control" id="event-end-time" name="end_time"
                    placeholder="When the event ends?" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="event-city" class="form-label">City *</label>
                <select class="form-select" id="event-city" name="city" required>
                    <option value="" disabled selected>Choose a city.</option>
                    <option value="london">London</option>
                    <option value="birmingham">Birmingham</option>
                    <option value="manchester">Manchester</option>
                    <option value="bristol">Bristol</option>
                    <option value="liverpool">Liverpool</option>
                    <option value="cardiff">Cardiff</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="event-venue" class="form-label">Address *</label>
                <input type="text" class="form-control" id="event-address" name="address"
                    placeholder="For example: BS2 5RH, Bass street 45..." required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="event-genre" class="form-label">Genre *</label>
                <select class="form-select" id="event-genre" name="genre" required>
                    <option value="" disabled selected>Choose a genre.</option>
                    <option value="techno">Techno</option>
                    <option value="house">House</option>
                    <option value="experimental">Experimental</option>
                    <option value="noise">Noise</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="event-organiser" class="form-label">Organiser/Venue *</label>
                <input type="text" class="form-control" id="event-organiser" name="organiser"
                    placeholder="Who is organising this event?" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="event-description" class="form-label">Description *</label>
            <textarea class="form-control" id="event-description" name="event_description" rows="5" required
                placeholder="What's this event is about?"></textarea>
        </div>
        <div class="mb-3">
            <label for="event-artists" class="form-label">Artists *</label>
            <input type="text" class="form-control" id="event-artists" name="artists"
                placeholder="Enter artist names separated by a comma..." required>
        </div>
        <div class="mb-3">
            <label for="event-music" class="form-label">Music (URL)</label>
            <input type="url" class="form-control" id="event-music" name="music"
                placeholder="Use a soundcloud, youtube spotify etc. link.">
        </div>

        <div class="mb-4">



            <input type="hidden" id="id_event_image" name="event_image">
            <button type="button" id="upload_widget" class="btn btn-outline-light btn-lg btn-block mt-3">Upload
                Image</button>
            <div class="form-text" id="uploadStatusText">
                Click the button to upload your event image. For best results, please ensure the image is sized at
                1024x1024 pixels.
            </div>
        </div>
        <div class="row">
            <h2>Ticket Info</h2>
            <div class="col-md-6 mb-3">
                <label for="ticket-price" class="form-label">Ticket Price *</label>
                <input type="number" step="0.01" class="form-control" id="ticket-price" name="ticket_price"
                    placeholder="Price per ticket" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="max-tickets" class="form-label">Max Tickets *</label>
                <input type="number" class="form-control" id="max-tickets" name="max_tickets"
                    placeholder="Maximum number of tickets available" required>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-warning btn-lg btn-block mt-3">Upload Event</button>
        </div>

    </form>
</div>
{% endblock %}
{% block postloadjs %}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
        cloudName: 'dpcst40m2',
        uploadPreset: 'rzidcahe'
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            console.log('Done! Here is the image info: ', result.info);
            document.getElementById('id_event_image').value = result.info.secure_url;
            document.getElementById('uploadStatusText').textContent = "Image uploaded successfully!";
        } else if (error) {
            console.error('Upload error: ', error);
            document.getElementById('uploadStatusText').textContent = "Image upload failed. Please try again.";
        }
    });

    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>
{% endblock %}