{% extends "base.html" %}
{% load static %}
{% block extra_title %} Delete Event {% endblock %}

{% block content %}
<div class="container mt-5 sexy-font">
    <h1>Delete Event</h1>
    <p class="text-muted">Are you sure you want to delete this event?</p>
    <h2 class="mt-5 mb-5">{{ event.event_name }}</h2>
    <!-- if user forgot to add image use default image -->
    {% if event.event_image and event.event_image != "None" %}
    <img src="{{ event.event_image }}" class="img-fluid mb-3" alt="Event Image">
    {% else %}
    <img src="{% static 'images/default.png' %}" class="img-fluid mb-3" alt="Default Event Image">
    {% endif %}
    <form method="post" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'manage' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}