{% extends "base.html" %}
{% load static %}
<!-- Add title -->
{% block extra_title %} Events {% endblock %}

<!-- Extend base template with content -->
{% block content %}
<!-- Page Content -->
<div class="container mt-5 sexy-font">
    <h1>Upcoming Events</h1>
</div>

<!-- Inline Filter Menu and Calendar -->
<div class="container mt-4">
    <form class="d-flex flex-column flex-md-row justify-content-md-between" method="get" action="{% url 'events' %}">
        <div class="d-flex flex-column flex-md-row w-100">
            <div class="me-md-3 mb-2 mb-md-0">
                <label for="eventType" class="form-label">Event Type</label>
                <select class="form-select" id="eventType" name="event_type">
                    <option value="" {% if not request.GET.event_type %}selected{% endif %}>All</option>
                    <option value="house" {% if request.GET.event_type == 'house' %}selected{% endif %}>House</option>
                    <option value="noise" {% if request.GET.event_type == 'noise' %}selected{% endif %}>Noise</option>
                    <option value="experimental" {% if request.GET.event_type == 'experimental' %}selected{% endif %}>Experimental</option>
                    <option value="techno" {% if request.GET.event_type == 'techno' %}selected{% endif %}>Techno</option>
                </select>
            </div>
            <div class="me-md-3 mb-2 mb-md-0">
                <label for="eventDate" class="form-label">Date</label>
                <input type="date" class="form-control" id="eventDate" name="date" value="{{ request.GET.date }}">
            </div>
            <div class="me-md-3 mb-2 mb-md-0">
                <label for="eventCity" class="form-label">City</label>
                <select class="form-select" id="eventCity" name="event_city">
                    <option value="" {% if not request.GET.event_city %}selected{% endif %}>All</option>
                    <option value="london" {% if request.GET.event_city == 'london' %}selected{% endif %}>London</option>
                    <option value="birmingham" {% if request.GET.event_city == 'birmingham' %}selected{% endif %}>Birmingham</option>
                    <option value="manchester" {% if request.GET.event_city == 'manchester' %}selected{% endif %}>Manchester</option>
                    <option value="bristol" {% if request.GET.event_city == 'bristol' %}selected{% endif %}>Bristol</option>
                    <option value="liverpool" {% if request.GET.event_city == 'liverpool' %}selected{% endif %}>Liverpool</option>
                    <option value="cardiff" {% if request.GET.event_city == 'cardiff' %}selected{% endif %}>Cardiff</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-stretch align-items-md-end mt-2 mt-md-0">
            <button type="submit" class="btn btn-warning mb-2 mb-md-0 me-md-2">Apply Filters</button>
            <a href="{% url 'events' %}" class="btn btn-secondary">Clear Filters</a>
        </div>
    </form>
</div>

<!-- Events List -->
<div class="container mt-5">
    <!-- change heading to reflect filter changes -->
    <h2>
        {% if request.GET.event_city and request.GET.event_type %}
            {{ request.GET.event_type|title }} events in {{ request.GET.event_city|title }}:
        {% elif request.GET.event_city %}
            Events in {{ request.GET.event_city|title }}:
        {% elif request.GET.event_type %}
            {{ request.GET.event_type|title }} events:
        {% else %}
            All Events:
        {% endif %}
    </h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-5">
        <!-- dynamic events using the event model -->
        {% if events %}
        {% for event in events %}
        <div class="col">
            <div class="position-relative square-container">
                <div class="date-overlay p-2">{{ event.formatted_date }}</div>
                <div class="city-overlay p-2">{{ event.city }}</div>
                <!-- if user forgot to add image use default image -->
                {% if event.event_image and event.event_image != "None" %}
                    <img src="{{ event.event_image }}" class="square-image" alt="Event Image">
                {% else %}
                    <img src="{% static 'images/default.png' %}" class="square-image" alt="Default Event Image">
                {% endif %}
            </div>
            <div class="card-body mt-2 text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <!-- change the color depending on the genre -->
                    <a href="#" class="badge text-decoration-none mb-2
                        {% if event.genre == 'techno' %}bg-dark
                        {% elif event.genre == 'experimental' %}bg-warning
                        {% elif event.genre == 'noise' %}bg-danger
                        {% elif event.genre == 'house' %}bg-success
                        {% else %}bg-secondary{% endif %}">
                        {{ event.genre }}
                    </a>
                    <p class="card-text mb-1">{{ event.organiser }}</p>
                </div>
                <h5 class="card-title">{{ event.event_name }}</h5>
                <a href="{% url 'buy_ticket' event.event_id %}" class="btn btn-warning btn-sm mt-2">
                    <span class="bi bi-ticket-fill me-1"></span> Get Tickets
                </a>
                <a href="{% url 'event_detail' event.event_id %}" class="btn btn-outline-warning btn-sm mt-2">
                    <span class="bi bi-calendar-event me-1"></span> Tell me more
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container mt-5 text-center w-100">
            <h2 class="text-center text-muted mt-5">No events at the moment. Please check back later!</h2>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}