{% extends "base.html" %}
{% load static %}
<!-- Add title -->
{% block extra_title %} Home {% endblock %}

<!-- Extend base template with content -->
{% block content %}
    <!-- Page Content -->
    <div class="container mt-5 sexy-font">
        <h1>Discover the best underground music events.</h1>
    </div>
    <div class="container mt-5">
        <h2>Essential Gatherings:</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
            <div class="col">
                <div class="position-relative square-container">
                    <div class="date-overlay p-2">Today</div>
                    <img src="https://f4.bcbits.com/img/a1615394167_10.jpg" class="square-image" alt="Event Image">
                </div>
                <div class="card-body mt-2 text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#" class="badge bg-success text-decoration-none mb-2 me-2"
                            style="margin-right: 5px;">House</a>
                        <p class="card-text mb-1">Club XYZ</p>
                    </div>
                    <h5 class="card-title">House Party</h5>
                    <a href="login-register.html" class="btn btn-outline-warning btn-sm mt-2"><span
                            class="bi bi-ticket-fill me-1"></span>
                        Get Tickets</a>
                    <a href="event.html" class="btn btn-outline-warning btn-sm mt-2"><span
                            class="bi bi-calendar-event me-1"></span> Tell me more</a>
                </div>
            </div>
            <div class="col">
                <div class="position-relative square-container">
                    <div class="date-overlay p-2">Tomorrow</div>
                    <img src="https://i0.wp.com/2.bp.blogspot.com/-mTM5WA7QcPM/XNhHe0uKnoI/AAAAAAAAIsI/AVizMUSs8wcJivsJtBTJUYT7mgqE2BPmQCLcBGAs/s1600/MORD061%2BArtwork.jpg?ssl=1"
                        class="square-image" alt="Event Image">
                </div>
                <div class="card-body mt-2 text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#" class="badge bg-warning text-decoration-none mb-2"
                            style="margin-right: 5px;">Noise</a>
                        <p class="card-text mb-1">Club XYZ</p>
                    </div>
                    <h5 class="card-title">Noise Fest</h5>
                    <a href="login-register.html" class="btn btn-outline-warning btn-sm mt-2"><span
                            class="bi bi-ticket-fill me-1"></span>
                        Get Tickets</a>
                    <a href="event.html" class="btn btn-outline-warning btn-sm mt-2"><span
                            class="bi bi-calendar-event me-1"></span> Tell me more</a>
                </div>
            </div>
            <div class="col">
                <div class="position-relative square-container">
                    <div class="date-overlay p-2">Tomorrow</div>
                    <img src="https://media.hardwax.com/images/78270_01big.jpg" class="square-image"
                        alt="Event Image">
                </div>
                <div class="card-body mt-2 text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#" class="badge bg-danger text-decoration-none mb-2"
                            style="margin-right: 5px;">Experimental</a>
                        <p class="card-text mb-1">Club XYZ</p>
                    </div>
                    <h5 class="card-title">Experimental Night</h5>
                    <a href="login-register.html" class="btn btn-outline-warning btn-sm mt-2"><span
                            class="bi bi-ticket-fill me-1"></span>
                        Get Tickets</a>
                    <a href="event.html" class="btn btn-outline-warning btn-sm mt-2"><span
                            class="bi bi-calendar-event me-1"></span> Tell me more</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}