{% extends "base.html" %}
{% load static %}
<!-- Add title -->
{% block extra_title %} Home {% endblock %}

<!-- Extend base template with content -->
{% block content %}
<!-- Page Content -->
<div class="container mt-5 sexy-font">
    <h1>Discover the best underground music events.</h1>
</div>
<div class="container mt-5">
    <h2>Essential Gatherings:</h2>
    {% if events %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
        {% for event in events %}
        <div class="col">
            <div class="position-relative square-container">
                <div class="date-overlay p-2">{{ event.date }}</div>
                <img src="{{ event.event_image }}" class="square-image" alt="Event Image">
                <div class="featured-badge">Featured</div>
            </div>
            <div class="card-body mt-2 text-center">
                <h5 class="card-title">{{ event.event_name }}</h5>
                <a href="#" class="btn btn-outline-warning btn-sm mt-2">
                    <span class="bi bi-ticket-fill me-1"></span> Get Tickets
                </a>
                <a href="{% url 'event_detail' event.event_id %}" class="btn btn-outline-warning btn-sm mt-2">
                    <span class="bi bi-calendar-event me-1"></span> Tell me more
                </a>
            </div>
            
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container mt-5 text-center">
        <h2>No events at the moment. Come back later!</h2>
    </div>
    {% endif %}
</div>
{% endblock %}