<!-- templates/buy_ticket.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Buy Tickets - {{ event.event_name }}
{% endblock %}

{% block content %}
<div class="container mt-5 sexy-font">
    <h1>{{ event.event_name }}</h1>
    <h4 class="">{{ event.organiser }}, {{ event.city }} - {{ event.formatted_date }}</h4>
</div>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            {% if event.event_image and event.event_image != "None" %}
            <img src="{{ event.event_image }}" class="img-fluid w-100" alt="Event Image">
            {% else %}
            <img src="{% static 'images/default.png' %}" class="img-fluid w-100" alt="Default Event Image">
            {% endif %}
        </div>
        <div class="col-md-6 ticket-form">
            <!-- ticket form -->
            <h2>Purchase Tickets</h2>
            {% if remaining_tickets > 0 %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" value="{{ request.user.username }}" readonly>
                </div>
                <label for="quantity" class="form-label">Quantity</label>
                <select id="quantity" name="quantity" class="form-control">
                    <!-- options for quantity -->
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <div class="mt-3">
                    <label for="total_price" class="form-label">Total Price</label>
                    <input type="text" id="total_price" class="form-control" value="£ {{ event.ticket_price }}"
                        readonly>
                </div>

                <!-- todo: stripe -->
                <button type="submit" class="btn btn-outline-warning btn-lg btn-block mt-3">
                    <span class="bi bi-ticket-fill me-1"></span> Buy Tickets
                </button>
            </form>
            <p class="mt-2">There are {{ remaining_tickets }} tickets left for this event.</p>
            {% else %}
            <p>Sorry, this event is sold out.</p>
            {% endif %}
        </div>

        <div class="col-md-12">
            <!-- event details  -->
            <h2 class="mt-5">Event Details</h2>
            <table class="table">
                <tr>
                    <th scope="row">Date</th>
                    <td>{{ event.date }}</td>
                </tr>
                <tr>
                    <th scope="row">Time</th>
                    <td>{{ event.start_time }} - {{ event.end_time }}</td>
                </tr>
                <tr>
                    <th scope="row">Venue</th>
                    <td>{{ event.organiser }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ event.address }}</td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td>{{ event.city }}</td>
                </tr>
                <tr>
                    <th scope="row">Genre</th>
                    <td>{{ event.genre }}</td>
                </tr>
                <tr>
                    <th scope="row">Ticket Price</th>
                    <td>£ {{ event.ticket_price }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    <!-- calculate total price with js  -->
    document.addEventListener('DOMContentLoaded', function () {
        const quantityInput = document.getElementById('quantity');
        const totalPriceInput = document.getElementById('total_price');
        const ticketPrice = parseFloat('{{ event.ticket_price }}');

        quantityInput.addEventListener('input', function () {
            const quantity = parseFloat(this.value) || 0;
            const totalPrice = (ticketPrice * quantity).toFixed(2);
            totalPriceInput.value = '£ ' + totalPrice;
        });
    });
</script>
    {% endblock %}