<!-- templates/buy_ticket.html -->
{% extends 'base.html' %}

{% block extra_title %}
{{ event.event_name }}
{% endblock %}

{% block content %}
<div class="container mt-5 sexy-font">
    <h1>{{ event.event_name }}</h1>
    <h4 class="">{{ event.organiser }}, {{ event.city }} - {{ event.formatted_date }}</h4>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <img src="{{ event.event_image }}" class="img-fluid w-100" alt="Event Image">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <!-- ticket form -->
            <h2>Purchase Tickets</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" value="{{ request.user.username }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" min="1" value="1">
                </div>
                <div class="mb-3">
                    <label for="total_price" class="form-label">Total Price</label>
                    <input type="text" id="total_price" class="form-control" value="£ {{ event.ticket_price }}" readonly>
                </div>
                
                <!-- todo: stripe -->
                <button type="submit" class="btn btn-outline-warning btn-lg btn-block mt-3">
                    <span class="bi bi-ticket-fill me-1"></span> Buy Tickets
                </button>
            </form>
        </div>
        <div class="col-md-4">
            <!-- event details  -->
            <h2>Event Details</h2>
            <table class="table">
                <tr>
                    <th scope="row">Date</th>
                    <td>{{ event.date }}</td>
                </tr>
                <tr>
                    <th scope="row">Time</th>
                    <td>{{ event.start_time }} - {{ event.end_time }}</td>
                </tr>
                <tr>
                    <th scope="row">Venue</th>
                    <td>{{ event.organiser }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ event.address }}</td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td>{{ event.city }}</td>
                </tr>
                <tr>
                    <th scope="row">Genre</th>
                    <td>{{ event.genre }}</td>
                </tr>
                <tr>
                    <th scope="row">Ticket Price</th>
                    <td>£ {{ event.ticket_price }}</td>
                </tr>
            </table>
            
            <h2>Event Description</h2>
            <p class="text-wrap text-break p-3">{{ event.event_description }}</p>
            <p>Artists:</p>
            <ul>
                {% for artist in artist_list %}
                <li>{{ artist }}</li>
                {% endfor %}
            </ul>
            <p>Don't miss out on this unique event that pushes the boundaries of music and art. Get your tickets now and be part of an extraordinary night!</p>
            <a href="{{ event.music }}" target="_blank">Listen here</a>
        </div>
    </div>
</div>

<script>
    <!-- calculate total price with js  -->
document.addEventListener('DOMContentLoaded', function() {
    const quantityInput = document.getElementById('quantity');
    const totalPriceInput = document.getElementById('total_price');
    const ticketPrice = parseFloat('{{ event.ticket_price }}');

    quantityInput.addEventListener('input', function() {
        const quantity = parseFloat(this.value) || 0;
        const totalPrice = (ticketPrice * quantity).toFixed(2);
        totalPriceInput.value = '£ ' + totalPrice;
    });
});
</script>
{% endblock %}